.profile-page {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      'avatar heading'
      'avatar info';
    justify-items: start;
    justify-content: start;

    .avatar {
      align-self: center;
      grid-area: avatar;
      margin-right: 8px;
    }

    h1 {
      grid-area: heading;
    }

    .user-info {
      grid-area: info;
      display: flex;
      flex-direction: row;
      column-gap: 16px;
    }
    margin-bottom: 32px;
  }

  .awards {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
  }
}
